{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

<script>
  $(document).ready(function(){

    $("#abrir").click(function(){

      var a = $(".formDia").children('form');
      a.submit();

    })


    $("#ingresar").click(function(){

      var a = $(".formMov").children('form');
      a.submit();

    })

    $("* .cerrar").click(function(){
        var id = $(this).val();
        window.location.href = "/cierre/"+id;

    })


  })
</script>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Abrir planilla #</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body ">
        <div class="form-group formDia">
        {{ form_start(formIniDia) }}
        {{ form_widget(formIniDia) }}

      </div>
      </div>
      <div class="modal-footer">
        {{ form_widget(formIniDia.abrir) }}
        {{ form_end(formIniDia) }}
      </div>
    </div>
  </div>
</div>




<div class="modal fade" id="movimientos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Movimiento de caja</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body ">
        <div class="form-group formMov">
        {{ form_start(formMov) }}
        {{ form_widget(formMov) }}
        {{ form_end(formMov) }}
      </div>
      </div>

    </div>
  </div>
</div>



<div class="container">

  <div class="jumbotron">
    <h1 class="display-4">Planilla Diaria</h1>
    <p class="lead">No se podrá abrir planilla a los choferes que deban comisión.</p>
    <hr class="my-4">
    <p>Total caja $</p>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Cerrar día</button>
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#movimientos" data-whatever="@mdo">Nuevo movimiento</button>

</div>

<div class="row">
  <div class="alert alert-info col-12">
    <h3>Entradas</h3>
    <h4>Subtotal $</h4>
    <hr>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Abrir planilla de chofer</button>
  </div>



  <br><br>
  <table class="table table-hover">
    <tr>
      <th style=" width:150px;">Chofer</th>
      <th style="text-align:center; width:150px;">Rec</th>
      <th style="text-align:center;">%</th>
      <th style="text-align:center;">Comisión</th>
      <th>Otros</th>
    </tr>

    {% for chofer in chofiDiaria %}

    {% if  chofer["estado"]   == 0 %}
      {% set estado = "Cerrar" %}
      {% set btn = "danger" %}
    {% else %}
      {% set estado = "Cerrado" %}
      {% set btn = "success" %}
    {% endif %}

    <tr>
      <td>{{ chofer["nombre"] }}</td>
      <td style="text-align:center;">{{ chofer["suma"] }}</td>
      <td style="text-align:center;">{{ chofer["porc"] }}</td>
      <td style="text-align:center;">{{ chofer["comi"] }}</td>
      <td><button type="button" class="btn btn-{{ btn }} cerrar" value="{{ chofer["id"] }}">{{ estado }}</button></td>
    </tr>
    {% endfor %}
  </table>

    <table class="table table-hover">
      <th>Detalle</th>
      <th>$</th>
      {% for entrada in movimientoE %}
        <tr>
          <td>{{ entrada.detalle}}</td>
          <td>{{ entrada.monto }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>

  <div class="row">
    <div class="alert alert-info col-12">
      <h3>Salidas</h3>
      <h4>Subtotal $</h4>
      <hr>

    </div>

    <table class="table table-hover">
      <th>Detalle</th>
      <th>$</th>
      {% for salida in movimientoS %}
        <tr>
          <td>{{ salida.detalle}}</td>
          <td>{{ salida.monto }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>

</div>
{% endblock %}
