{% extends 'base.html.twig' %}

{% block body %}

<script type="text/javascript">
  $(document).ready(function(){

    $(".editar").click(function(){
      var a = $(this).val();
      window.location.href = "/editar/"+a;
    });

    $("#viajeNBTN").click(function(){
      $("#viajeN form").submit();
    })


    $('#time').datetimepicker();

  });
</script>

<style>
  .inp{width: 100%;
      height: 35px;
      border-radius:5px;
      border: .5px rgb(165, 173, 218) solid;
      }

    .lab{margin-top:10px;}
</style>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalCenterTitle">Nuevo viaje</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body" id="viajeN">
        {{ form_start(formulario) }}

        <div class="lab">Chofer</div>
        {{ form_widget(formulario.chofer)  }}

        <div class="lab">Desde</div>
        {{ form_widget(formulario.origen)  }}

        <div class="lab">Hasta</div>
        {{ form_widget(formulario.destino) }}

        {% set hora = "now"|date('H:i:s', "America/Argentina/Jujuy") %}


        {{ form_label(formulario.salida) }}
        <div class='input-group date' id='time'>
          {{ form_widget(formulario.salida, {'attr':{' data-date-format':'H:mm','class':'form-control','value': hora }}) }}
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-time"></span>
            </span>
          </div>
          {{ form_end(formulario) }}

      </div>


      <div class="modal-footer">
        <button type="button" id="viajeNBTN" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>


<div class="container">

  <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Planilla de viajes</h1>
    <p class="lead">No se podrá abrir planilla a los choferes que deban comisión.</p>
    <hr class="my-4">
    <p>La carga de datos es exclusiva responsabilidad del encargado</p>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
      Nuevo Viaje
    </button>
  </div>
</div>

<div class="row">
    <div class="col-lg-10">

      <table class="table table-hover">
        <tr>
          <th style="text-align:center;">Nro Viaje</th>
          <th>Chofer</th>
          <th>Origen</th>
          <th>Destino</th>
          <th style="text-align:center;">$</th>
        </tr>

        {% for viaje in viajes %}

        {% if viaje.monto == 0 %}
          {% set pendiente = "rgb(250, 210, 209)" %}
        {% else %}
          {% set pendiente = "" %}
        {% endif %}

            <tr style="background:{{ pendiente }};">
              <td style="text-align:center;">
                {{ viaje.id }}
              </td>
              <td>
                {{ viaje.chofer }}
              </td>

              <td>
                {{ viaje.origen }}
                <span class="badge badge-secondary">{{ viaje.salida|date("H:i") }}</span>
              </td>

              <td>
                   {{ viaje.destino }}
                  <span class="badge badge-secondary">{{ viaje.llegada|date("H:i") }}</span>
              </td>

              <td style="width:100px; text-align:center;">
                ${{ viaje.monto }}
              </td>

              <td>
                <button class="btn btn-primary editar" value="{{ viaje.id }}">Editar</button>
              </td>
            </tr>
          {% endfor %}


      </table>

    </div>

    <div calss="col-lg-1">
    </div>

    <div class="col-lg-2">

      <div class="row">
        <div class="col">
          <div class="alert-info card text-center" style="">
            <div class="card-body">
              <h4 class="card-title">{{ viajes|length }}</h4>
              <p class="card-text">Viajes</p>
            </div>
          </div>
        </div>
      </div>

        <div class="row">
          <div class="col">
            <div class="alert-info card text-center" style="margin-top:10px;">
              <div class="card-body">
                <h4 class="card-title">4</h4>
                <p class="card-text">Choferes</p>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>


      </div>
{% endblock %}
